.container {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}

.application {
	border: 3px dotted red;
	width: 200px;
	height: 768px;
	display: grid;
	grid: 
	    "header" auto
	 "body" 1fr
	 "footer" auto
	    / 1fr;
	grid-gap: 16px;
 }
 .header {
	border: 3px dotted red;
	grid-area: header;
 }
 .body {
	border: 3px dotted red;
	grid-area: body;
 }
 .footer {
	border: 3px dotted red;
	grid-area: footer;
 }
 .application > div {
	border: 3px dotted red;
	background: gray;
 }




 
.navbar-brand {
	color: #fff;
}
.navbar-toggler {
	color: #fff;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}
