<p [ngStyle]="{'color' : 'red'}">mpk-toolbar works!</p>


<nav class="navbar navbar-light bg-success fixed-top">
	<div class="container-fluid">

		<button 
			class="navbar-toggler navbar-custom navbar-text" 
			type="button" 
			data-bs-toggle="offcanvas" 
			data-bs-target="#offcanvasNavbar" 
			aria-controls="offcanvasNavbar"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand navbar-custom" [ngStyle]="{ 'color':'white'}">My Personal Kitchen</a>

		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">



			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>



			<div class="offcanvas-bodyx">
				<ul 
					class="navbar-nav justify-content-start flex-grow-1 pe-3"
					[ngStyle]="{'padding-left': '1rem'}"
				>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Quick Start</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">Profile</a>
					</li>


					<li><hr class="dropdown-divider"></li>


					
					<li class="nav-item">
						<a class="nav-link" href="#">Menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Meals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Food</a>
					</li>


					<li><hr class="dropdown-divider"></li>


					<li class="nav-item">
						<a class="nav-link" href="#">Invitations</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacts</a>
					</li>


					<li><hr class="dropdown-divider"></li>


					<li class="nav-item">
						<a class="nav-link" href="#">Orders</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>